---
import Layout from "../layouts/layout.astro";
---

<Layout  title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor veritatis, quidem aspernatur animi tempora doloremque at totam error quasi magni, ratione saepe quas cum tenetur, aut culpa eveniet blanditiis perspiciatis velit repellendus! Numquam, dolores vitae unde possimus consequuntur veritatis inventore corrupti nisi sed! Sapiente, omnis aliquam ea fugiat soluta nisi, quis nesciunt voluptatibus error odit blanditiis culpa odio necessitatibus architecto eius magni harum voluptas natus libero consequatur corrupti dolorem officiis! Nisi laudantium ea harum ipsa nihil aut at corporis tempore minima facere doloremque ipsam, quis fugit aliquid rerum itaque labore unde totam aspernatur enim velit explicabo! Repudiandae, dolorem porro.</p>

</Layout>